.header {
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  background-image: url(../images/BACKGROUND-one.png); }
  .header .main {
    max-width: 960px;
    margin: auto; }
  .header .xyi {
    justify-content: end; }
  .header .nav li a {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-weight: 900; }
